main {
    background-color: #000000d6;
    color: white;
}

.parent-container {
    width: 95%;
    margin: auto;
}

.card {
    color: black;
    border: none;
}


@media screen and (max-width:765px) {

    #shops {
        flex-direction: column-reverse;
    }

    .parent-container {
        width: 85%;
    }

    .card-img, .card-img-top {
        height: 541px;
    }
}